####################################
###########   binaries   ###########
####################################

bin/
*.class
*.jar


####################################
#####   local specifications   #####
####################################

.classpath



####################################
#########   Testing shit   #########
####################################

tests/

####################################
#############   Misc   #############
####################################

# Corona Warnapp token files
*-tokens.txt
# JBay
auktion.txt
